body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container{
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
}

h2{
    margin-bottom: 30px;
    columns: #333;
}

.input-container{
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

button{
    background-color: #45a049;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}

button:hover{
	background-color: #4C4F50
}